Repository AkasakiTomohiro/recipe-survey: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn markuplint

feat: :sparkles: chromaticの導入
  package.json
  yarn.lock
Due: none

feat: :sparkles: I18Nを追加
  next.config.mjs
  package.json
  src/app/[locale]/favicon.ico
  src/app/[locale]/globals.css
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.module.css
  src/app/[locale]/page.tsx
  src/components/SampleComponent.tsx
  src/i18n/hooks/UseTransLocations.ts
  src/i18n/hooks/index.ts
  src/i18n/i18n.ts
  src/i18n/index.ts
  src/i18n/libs/GetTransLocations.test.ts
  src/i18n/libs/GetTransLocations.ts
  src/i18n/libs/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/middleware.ts
  src/types/index.ts
  yarn.lock
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: StorybookにThemeProviderを追加
  .storybook/preview.ts
  .storybook/preview.tsx
  src/stories/MuiButton.stories.tsx
  src/stories/MuiButton.tsx
  src/theme/ColorPalette.ts
  src/theme/LightTheme.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: StorybookにI18Nを追加
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.tsx
  package.json
  src/components/SampleComponent.stories.ts
  yarn.lock
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: layoutにThemeProviderを追加
  src/app/[locale]/layout.tsx
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: LangIDを変更
  src/app/[locale]/layout.tsx
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: Tableヘッダーコンポスターを作成
  src/components/Table/TableHeader/TableHeader.stories.tsx
  src/components/Table/TableHeader/TableHeader.tsx
  src/components/Table/TableHeader/index.ts
  src/components/Table/TableHeader/types/index.ts
  src/components/Table/index.ts
Due: yarn eslint --fix, yarn markuplint

refactor: :recycle: ディレクトリを整理
  src/components/Table/components/TableHeader/TableHeader.stories.tsx
  src/components/Table/components/TableHeader/TableHeader.tsx
  src/components/Table/components/TableHeader/index.ts
  src/components/Table/components/TableHeader/types/index.ts
  src/components/Table/components/index.ts
  src/components/Table/index.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: ファイルヘッダ用のスニペットを追加
  .vscode/file-header.code-snippets
Due: none

docs: :memo: 生成年を自動で設定するように修正
  .vscode/file-header.code-snippets
Due: none

fix: :memo: スニペットのスコープを削除
  .vscode/file-header.code-snippets
Due: none

feat: :sparkles: ファイルヘッダを追加
  src/components/Table/components/TableHeader/TableHeader.stories.tsx
  src/components/Table/components/TableHeader/TableHeader.tsx
  src/components/Table/components/TableHeader/index.ts
  src/components/Table/components/TableHeader/types/index.ts
  src/components/Table/components/index.ts
  src/components/Table/index.ts
  src/i18n/hooks/UseTransLocations.ts
  src/i18n/hooks/index.ts
  src/i18n/i18n.ts
  src/i18n/index.ts
  src/i18n/libs/GetTransLocations.test.ts
  src/i18n/libs/GetTransLocations.ts
  src/i18n/libs/index.ts
  src/middleware.ts
  src/types/index.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: Storybookのタイトルを変更
  src/components/Table/components/TableHeader/TableHeader.stories.tsx
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: テーブルの行用のコンポーネントを追加
  src/components/Table/components/TableCollapseRow/TableCollapseRow.stories.tsx
  src/components/Table/components/TableCollapseRow/TableCollapseRow.tsx
  src/components/Table/components/TableCollapseRow/index.ts
  src/components/Table/components/TableCollapseRow/types/index.ts
  src/components/Table/components/TableRow/TableRow.stories.tsx
  src/components/Table/components/TableRow/TableRow.tsx
  src/components/Table/components/TableRow/index.ts
  src/components/Table/components/TableRow/types/index.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: アイコン用のコンポーネントを追加
  src/components/Icon/index.ts
Due: yarn eslint --fix

refactor: :recycle: アイコンのインポートを修正
  src/components/Table/components/TableCollapseRow/TableCollapseRow.tsx
Due: yarn eslint --fix, yarn markuplint

refactor: :recycle: ファイルの構成を変更
  src/components/Icon/Icon.ts
  src/components/Icon/index.ts
Due: yarn eslint --fix

feat: :sparkles: テストの設定
  .storybook/main.ts
  .storybook/test-runner.ts
  jest.config.js
  package.json
  src/components/__snapshots__/SampleComponent.stories.ts.snap
  src/stories/Page.stories.ts
  src/stories/__snapshots__/Button.stories.ts.snap
  src/stories/__snapshots__/Header.stories.ts.snap
  src/stories/__snapshots__/MuiButton.stories.tsx.snap
  src/stories/__snapshots__/Page.stories.ts.snap
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix

feat: :sparkles: test-runnerのcoverageから.tsファイル等を除外する設定を追加
  .storybook/main.ts
  tsconfig.json
Due: yarn eslint --fix

feat: :sparkles: storybookのplay機能でCollapseRowをクリックしたときの処理を追加
  src/components/Table/components/TableCollapseRow/TableCollapseRow.stories.tsx
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: a11yのアドオンを追加
  .storybook/main.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: :heavy_plus_sign: a11y詳細設定用のライブラリを追加
  .storybook/test-runner.ts
  package.json
  yarn.lock
Due: yarn eslint --fix

feat: :sparkles: TableFooterの実装
  src/components/Table/components/TableFooter/TableFooter.stories.tsx
  src/components/Table/components/TableFooter/TableFooter.tsx
  src/components/Table/components/TableFooter/index.ts
  src/components/Table/components/TableFooter/types/index.ts
Due: yarn eslint --fix, yarn markuplint

test: :white_check_mark: スナップショット更新
  src/components/Table/components/TableCollapseRow/__snapshots__/TableCollapseRow.stories.tsx.snap
  src/components/Table/components/TableFooter/__snapshots__/TableFooter.stories.tsx.snap
  src/components/Table/components/TableHeader/__snapshots__/TableHeader.stories.tsx.snap
  src/components/Table/components/TableRow/__snapshots__/TableRow.stories.tsx.snap
Due: none

feat: :sparkles: ControllerFormの実装
  package.json
  src/components/ControllerForm/components/ControllerCheckboxForm/ControllerCheckboxForm.stories.tsx
  src/components/ControllerForm/components/ControllerCheckboxForm/ControllerCheckboxForm.tsx
  src/components/ControllerForm/components/ControllerCheckboxForm/index.ts
  src/components/ControllerForm/components/ControllerCheckboxForm/types/index.ts
  src/components/ControllerForm/components/ControllerSelectForm/ControllerSelectForm.stories.tsx
  src/components/ControllerForm/components/ControllerSelectForm/ControllerSelectForm.tsx
  src/components/ControllerForm/components/ControllerSelectForm/index.ts
  src/components/ControllerForm/components/ControllerSelectForm/types/index.ts
  src/components/ControllerForm/components/ControllerTextForm/ControllerTextForm.stories.tsx
  src/components/ControllerForm/components/ControllerTextForm/ControllerTextForm.tsx
  src/components/ControllerForm/components/ControllerTextForm/index.ts
  src/components/ControllerForm/components/ControllerTextForm/types/index.ts
  src/components/ControllerForm/components/GridFormControl/GridFormControl.stories.tsx
  src/components/ControllerForm/components/GridFormControl/GridFormControl.tsx
  src/components/ControllerForm/components/GridFormControl/index.ts
  src/components/ControllerForm/components/GridFormControl/types/index.ts
  src/components/ControllerForm/components/ListForm/ListForm.stories.tsx
  src/components/ControllerForm/components/ListForm/ListForm.tsx
  src/components/ControllerForm/components/ListForm/index.ts
  src/components/ControllerForm/components/ListForm/types/index.ts
  src/components/ControllerForm/components/TableForm/TableForm.stories.tsx
  src/components/ControllerForm/components/TableForm/TableForm.tsx
  src/components/ControllerForm/components/TableForm/index.ts
  src/components/ControllerForm/components/TableForm/types/index.ts
  src/components/ControllerForm/components/index.ts
  src/components/ControllerForm/index.ts
  src/components/Icon/Icon.ts
  src/lib/ProfileValidator.ts
  src/types/index.ts
  src/utils/ZodErrorParse.ts
  yarn.lock
Due: yarn eslint --fix, yarn markuplint

fix: :bug: TableFormのstoryファイルのtitleを修正
  src/components/ControllerForm/components/TableForm/TableForm.stories.tsx
Due: yarn eslint --fix, yarn markuplint

test: :white_check_mark: スナップショット更新
  src/components/ControllerForm/components/ControllerCheckboxForm/__snapshots__/ControllerCheckboxForm.stories.tsx.snap
  src/components/ControllerForm/components/ControllerSelectForm/__snapshots__/ControllerSelectForm.stories.tsx.snap
  src/components/ControllerForm/components/ControllerTextForm/__snapshots__/ControllerTextForm.stories.tsx.snap
  src/components/ControllerForm/components/GridFormControl/__snapshots__/GridFormControl.stories.tsx.snap
  src/components/ControllerForm/components/ListForm/__snapshots__/ListForm.stories.tsx.snap
  src/components/ControllerForm/components/TableForm/__snapshots__/TableForm.stories.tsx.snap
  src/components/Table/components/TableCollapseRow/__snapshots__/TableCollapseRow.stories.tsx.snap
Due: none

feat: :sparkles: テーブル表示カスタムフックの原型を作成
  src/components/Table/hooks/UseTable/UseTable.ts
  src/components/Table/hooks/UseTable/index.ts
  src/components/Table/hooks/UseTable/types/index.ts
  src/components/Table/hooks/index.ts
Due: yarn eslint --fix

feat: :sparkles: ProfileProviderの原型を作成
  src/providers/index.ts
  src/providers/profile/ProfileProvider.tsx
  src/providers/profile/index.ts
  src/providers/profile/types/index.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: ProfileProvider確認用のテストコンポーネントを作成
  src/app/[locale]/TestComponent.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: ローカルストレージを使用するカスタムフックを作成
  cspell.json
  src/hooks/UseLocalStorage/UseLocalStorage.ts
  src/hooks/UseLocalStorage/index.ts
  src/hooks/index.ts
Due: yarn eslint --fix

refactor: :recycle: useLocalStorageのリファクタ
  src/hooks/UseLocalStorage/UseLocalStorage.ts
  src/hooks/UseLocalStorage/index.ts
  src/hooks/UseLocalStorage/utils/index.ts
Due: yarn eslint --fix

feat: :sparkles: useLocalStorageStrの追加
  src/hooks/UseLocalStorage/UseLocalStorageStr.ts
  src/hooks/UseLocalStorage/index.ts
Due: yarn eslint --fix

feat: :sparkles: 選択されたプロファイルIDを管理するカスタムフックを追加
  src/providers/profile/hooks/UseProfile/UseProfile.ts
  src/providers/profile/hooks/UseProfile/index.ts
  src/providers/profile/hooks/UseProfile/types/index.ts
Due: yarn eslint --fix

feat: :sparkles: レシピを追加するカスタムフックを追加
  src/providers/profile/hooks/UseRecipe/UseRecipe.ts
  src/providers/profile/hooks/UseRecipe/index.ts
  src/providers/profile/hooks/UseRecipe/types/index.ts
  src/providers/profile/hooks/UseRecipe/utils/index.ts
  src/providers/profile/hooks/index.ts
  src/providers/profile/types/index.ts
Due: yarn eslint --fix

feat: :sparkles: ProfileContextに現在取得しているプロファイルIDを追加する機能を実装
  src/providers/profile/ProfileProvider.tsx
  src/providers/profile/types/index.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: Headerコンポーネントの作成途中
  src/components/Header/Header.stories.ts
  src/components/Header/Header.tsx
  src/components/Header/index.ts
Due: yarn eslint --fix, yarn markuplint

feat: :sparkles: 3/7の作業分を全てコミット
  src/app/[locale]/recipes/_components/AddRecipeDialog/AddRecipeDialog.stories.tsx
  src/app/[locale]/recipes/_components/AddRecipeDialog/AddRecipeDialog.tsx
  src/app/[locale]/recipes/_components/AddRecipeDialog/index.ts
  src/app/[locale]/recipes/_components/AddRecipeDialog/types/index.ts
  src/app/[locale]/recipes/_components/RecipeList/RecipeList.stories.tsx
  src/app/[locale]/recipes/_components/RecipeList/RecipeList.tsx
  src/app/[locale]/recipes/_components/RecipeList/types/index.ts
  src/components/Dialog/Dialog.stories.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/index.ts
  src/components/Dialog/types/index.ts
  src/components/Header/Header.tsx
  src/components/Header/header.css
  src/components/Icon/Icon.ts
  src/components/Table/components/TableCollapseRow/index.ts
  src/components/Table/components/TableFooter/types/index.ts
  src/components/Table/components/TableRow/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/lib/RecipeValidator.ts
  src/stories/Header.tsx
  src/stories/Page.tsx
Due: yarn eslint --fix, yarn markuplint

feat: :wrench: VSCodeの設定を変更
  .vscode/settings.json
Due: none

feat: :sparkles: hookform/resolversを追加
  cspell.json
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn eslint --fix: any of: *.{js,jsx,ts,tsx}
  yarn markuplint: any of: *.{jsx,tsx}
